# ==================================================
# Python
# ==================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==================================================
# Virtual Environments
# ==================================================

.venv/
Desktop/shipsear-env/

# ==================================================
# Editor Files
# ==================================================

.vscode/
.idea/

# ==================================================
# Generated Features
# ==================================================

Desktop/data/features/**

!Desktop/data/features/
!Desktop/data/features/demon/
!Desktop/data/features/lofar/
!Desktop/data/features/mfcc/

# ==================================================
# Generated Datasets
# ==================================================

Desktop/data/datasets/*.csv

# ==================================================
# Generated Results
# ==================================================

Desktop/results/benchmarks/*.csv
Desktop/results/confusion_matrices/*.csv

# ==================================================
# Generated Models
# ==================================================

Desktop/trained_models/**

Raspberry Pi/trained_models/**

# ==================================================
# Keep Placeholder Files
# ==================================================

!**/.gitkeep